# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Ignore components related to Shadcn UI
components/toast/
components/ui/
components/ui-custom/

section/Add/components/AddTaskDialog/index.tsx
section/Add/components/AddTaskDialog/components/AddTaskForm.tsx
section/Signin/components/SignInForm.tsx
section/Signup/components/SignUpForm.tsx
section/Todo/components/DeleteConfirmation/index.tsx
section/Update/components/UpdateTaskDialog/index.tsx
section/Update/components/UpdateTaskDialog/components/UpdateTaskForm.tsx

# Ignore components related to Tanstack Query
api/todo/queries/useTaskQuery.ts
api/todo/queries/useTasksQuery.ts
components/providers/TaskProvider.tsx
core/constants/pagination.ts

# Ignore components related to Tanstack Table
components/ui-custom/table.tsx
section/Todo/components/ListTasks/components/TableList.tsx

# Shared
section/Todo/index.tsx
section/Todo/components/ListTasks/index.tsx
section/Update/index.tsx
