{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{js,ts,jsx,tsx}",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
