@import 'tailwindcss';

@layer utilities {
  .line-b {
    position: relative;
  }

  .line-b:after {
    width: 200vw;
    height: 1px;
    position: absolute;
    left: -100vw;
  }

  .line-b:after {
    background-color: color-mix(in oklab, transparent, transparent);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
