@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Poppins', sans-serif;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutOverlay {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    scale: 0.9;
  }
}

@layer utilities {
  .animate-fade-out-overlay {
    animation: fadeOutOverlay 0.5s forwards;
  }

  .animate-fade-in-overlay {
    animation: fadeInOverlay 0.5s forwards;
  }

  .animate-fade-out {
    animation: fadeOut 0.5s forwards;
  }

  .animate-fade-in {
    animation: fadeIn 0.5s forwards;
  }
}
